@page
@model MyFriends.Pages.ViewModel
@{
    ViewData["Title"] = "View page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to View Friends Page</h1>
    
</div>
<div class="row">
     <div class="col-md-4">
          <form method="post">
               <div class="form-group">
                    <label asp-for="Friend.ID" class="control-label"></label>
                    <input asp-for="Friend.ID" class="form-control" value="@Model.Friend.ID" disabled />
               </div>


               <div class="form-group">
                    <label asp-for="Friend.Name" class="control-label"></label>
                    <input asp-for="Friend.Name" class="form-control" value="@Model.Friend.Name" />
                    <span asp-validation-for="Friend.Name"></span>
               </div>


               <div class="form-group">
                    <label asp-for="Friend.Age" class="control-label"></label>
                    <input asp-for="Friend.Age" class="form-control" value="@Model.Friend.Age" />
                    <span asp-validation-for="Friend.Age"></span>
               </div>
                <br>
               <div class="form-group">
                    <input type="submit" value="Update Friend" class="btn btn-info" />
               </div>
               <br>
          </form>
            <a asp-page="/delete" asp-route-id="@Model.Friend.ID" class="btn btn-info">Delete</a>
          
     </div>
</div>
<br>

<div>
     <p>Id: @Model.Friend.ID</p>
     <p>Name: @Model.Friend.Name</p>
     <p>Age: @Model.Friend.Age</p>
</div>
